<!-- FOOTER SECTION START -->
    <footer class="ul-footer">
        <div class="ul-footer-top">
            <div class="ul-container">
                <div class="ul-footer-top-wrapper wow animate__fadeInUp">
                    <!-- <div class="row ul-bs-row"> -->
                    <!-- <div class="col-4"> -->
                    <div class="ul-footer-about">
                        <a href="index.html"><img src="assets/icon/freedom logo.jpeg" alt="logo"></a>
                        <p class="ul-footer-about-txt">Pilihan terbaik untuk sewa apartemen harian dan transit singkat. Nikmati kenyamanan maksimal dan privasi penuh kapan pun Anda butuhkan dengan harga yang terjangkau.</p>
                        <div class="ul-footer-socials">
                            <a href="#"><i class="flaticon-facebook"></i></a>
                            <a href="#"><i class="flaticon-instagram"></i></a>
                            <a href="#"><i class="flaticon-twitter"></i></a>
                            <a href="#"><i class="flaticon-linkedin"></i></a>
                        </div>
                    </div>
                    <!-- </div> -->

                    <!-- <div class="col-7"> -->
                    <div class="single-column">
                        <div class="ul-footer-widget">
                            <h3 class="ul-footer-widget-title">Tentang</h3>

                            <div class="ul-footer-widget-links">
                                <a href="about.html">Tentang Kami</a>
                                <a href="how-it-works.html">Cara Kerja</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-column">
                        <div class="ul-footer-widget">
                            <h3 class="ul-footer-widget-title">Properti</h3>

                            <div class="ul-footer-widget-links">
                                <a href="properties.html">Semua Tipe Kamar</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-column">
                        <div class="ul-footer-widget">
                            <h3 class="ul-footer-widget-title">Informasi</h3>

                            <div class="ul-footer-widget-links">
                                <a href="blog.html">Blog</a>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <!-- footer bottom -->
        <div class="ul-footer-bottom">
            <p class="copyright-txt">&copy;2024 Realestics. All rights reserved</p>
        </div>

        <!-- vector -->
        <div class="ul-footer-vectors">
            <img src="assets/img/footer-vector-img-1.png" alt="Footer Image" class="ul-footer-vector-1">
            <img src="assets/img/footer-vector-img-2.png" alt="Footer Image" class="ul-footer-vector-2">
        </div>
    </footer>
    <!-- FOOTER SECTION END -->