<!-- HEADER SECTION START -->
    <header class="ul-header ul-header--home">
        <div class="ul-header-bottom">
            <div class="ul-header-bottom-wrapper">
                <!-- header left -->
                <div class="header-bottom-left">
                    <div class="logo-container">
                        <a href="index.html" class="d-inline-block"><img src="assets/icon/freedom logo.jpeg" alt="logo" class="logo"></a>
                    </div>
                </div>

                <!-- header nav -->
                <div class="ul-header-nav-wrapper">
                    <div class="to-go-to-sidebar-in-mobile">
                        <nav class="ul-header-nav">
                            <a href="index.html">Beranda</a>
                            <a href="about.html">Tentang</a>
                            <a href="properties.html">Properti</a>

                            
                            <a href="blog.html">Blog</a>
                        </nav>
                    </div>
                </div>

                <!-- actions -->
                <div class="ul-header-actions">
                    <button class="ul-header-search-opener"><i class="flaticon-search"></i></button>
                    <button><i class="flaticon-user"></i></button>
                    <a href="index.html" class="add-property-btn d-xxs-none"><i class="flaticon-home"></i> Home</a>
                    <button class="ul-header-sidebar-opener"><i class="flaticon-menu-button"></i></button>
                </div>

                <!-- sidebar opener -->
                <div class="d-none">
                    <button class="ul-header-sidebar-opener"><i class="flaticon-menu-button"></i></button>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER SECTION END -->